/*
    BEM = Bloque, elemento, modificador

    SE USA SIEMPRE CLASS NO ID
    
    Class = se usa para aplicar estilos
    Id = se usa para aplicar funcionalidad JavaScript 

    .bloque
    .bloque__elemento
    .bloque__elemento--modificador

    1. No usar ID
    2. No usar etiquetas para seleccionar elementos
    3. Que todo sea un key selector (Seleccionar justo elemento al cual se le darán estilos)

*/

.cards {
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border: 10px;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
}

.cards__card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
}

.card__title {
    font-size: 24px;
    font-weight: bold;
}

.card__link {
    padding: 10px;
    background-color: green;
    color: white;
    text-decoration: none;
}

.card__link--red {
    background-color: red;
}
